.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

.righticon {
    float: right;
    width: 12%;
}

.all {
    position: relative;
    text-align: center;
    font: x-large sans-serif;
}

#clickAll {
    font: 3em 华文细黑;
}

#followerAll {
    font: 3em 华文细黑;
}

.divider {
    position: absolute;
    width: 1px;
    height: 450px;
    background: darkgray;
    margin-left: 49%;
}

.back {
    float: right;
    width: 13%;
    font: 20px sans-serif;
    text-align: left;
}

.indent {
    text-indent:2em;
}

.uploadtime {
    float: right;
    width: 20%;
    color: gray;
}

.bottom {
    color: #d6d6d6;
}

.bottom:hover,
.bottom:focus {
    color: #1d4b8f;
}

.signature {
    float: right;
    width: 20%;
    text-align: center;
    line-height: 100px;
}

a {
    text-decoration: none;
}
